<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<div><h3>Login Page</h3></div>
<div ng-controller="logger">
	<input type="text" class="button" ng-model="usernameSent">
	<p></p>
	<input type="text" class="button" ng-model="passwordSent">
	<p></p>
	<div align="center">
		<!--<button ng-click="makelogin(usernameSent,passwordSent)">Login</button>-->
		<button ng-click="changewelcome()">Login</button>

		<button ng-click="changestate()">Sign up page</button>
	</div>

</div>
</body>
</html>